<h1>Webpack Babel</h1>

Provides Babel configuration for the webpack module.

<h3>Dependencies</h3>

The <a href="https://drupal.org/project/webpack" target="_blank">Webpack</a> module.

<h3>Installation</h3>

<code>yarn add babel-loader @babel/core @babel/preset-env</code>

<h3>Works great with</h3>

<ul>
 <li><a href="https://drupal.org/project/webpack_react" target="_blank">Webpack React</a></li>
 <li><a href="https://drupal.org/project/webpack_vuejs" target="_blank">Webpack Vue.js</a></li>
</ul>
